		* {
			text-align: center;
			
		}

		body {
			background-image: url("../imgs/clase.jpg");
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-position: top;
		}


		h1 {
			font-family: 'Times New Roman', 'Times', 'serif';
			font-style: italic;
			font-weight: bold;
		}


		ul {
			line-height: 1.5;
			letter-spacing: 5px;
			word-spacing: 10px;
		}


		.parrafo1{
			text-decoration: underline;
		
		}

		#mayus{
			text-transform: uppercase
		}

		ul li::first-letter{
			text-transform: uppercase;
		}
